In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('../data/seda_county_long_cs_5.0.csv')
df.head()

,fips,stateabb,sedacounty,sedacountyname,subject,grade,year,cs_mn_all,cs_mn_se_all,tot_asmt_all,...,tot_asmt_wbg,cs_mn_whg,cs_mn_se_whg,tot_asmt_whg,cs_mn_wht,cs_mn_se_wht,tot_asmt_wht,cs_mn_wng,cs_mn_se_wng,tot_asmt_wng
0,1,AL,1001,Autauga County,mth,3,2009,0.077141,0.082314,737,...,701.0,0.425552,0.271431,555.0,0.316585,0.111184,534.0,NaN,NaN,NaN
1,1,AL,1001,Autauga County,rla,3,2009,0.131241,0.062874,736,...,700.0,0.134053,0.276166,555.0,0.286870,0.074856,534.0,NaN,NaN,NaN
2,1,AL,1001,Autauga County,mth,3,2010,-0.164748,0.056085,785,...,744.0,NaN,NaN,NaN,-0.069131,0.065915,563.0,NaN,NaN,NaN
3,1,AL,1001,Autauga County,rla,3,2010,0.125892,0.054031,787,...,747.0,NaN,NaN,NaN,0.177563,0.062397,566.0,NaN,NaN,NaN
4,1,AL,1001,Autauga County,mth,3,2011,-0.114523,0.071683,790,...,759.0,NaN,NaN,NaN,0.064412,0.089233,577.0,NaN,NaN,NaN

In [10]:
grade3 = df[
    (df['subject'] == 'rla') & ((df['grade'] == 3))
][['year', 'sedacounty', 'sedacountyname', 'grade', 'cs_mn_all', 'cs_mn_se_all']]

grade3

        year  sedacounty  sedacountyname  grade  cs_mn_all  cs_mn_se_all
1       2009        1001  Autauga County      3   0.131241      0.062874
3       2010        1001  Autauga County      3   0.125892      0.054031
5       2011        1001  Autauga County      3   0.161488      0.064874
7       2012        1001  Autauga County      3   0.136917      0.057834
9       2013        1001  Autauga County      3   0.172870      0.066948
...      ...         ...             ...    ...        ...           ...
354864  2015       56045   Weston County      3   0.319760      0.093671
354866  2016       56045   Weston County      3   0.467521      0.100509
354868  2017       56045   Weston County      3   0.319747      0.111038
354870  2018       56045   Weston County      3   0.380021      0.102632
354872  2019       56045   Weston County      3   0.385561      0.098499

[28848 rows x 6 columns]

In [11]:
# This data has almost all counties (3104, compared to 3144)
print(len(df['sedacounty'].unique()), df['sedacounty'].unique())

3104 [ 1001  1003  1005 ... 56041 56043 56045]

In [12]:
# If this code outputs "False", that means there are no duplications
df.duplicated(['year', 'stateabb', 'sedacountyname', 'subject', 'grade']).any()

np.False_